output/

**.bak
*.local.*
!**/README.md
.kitchen/

*.nupkg
*.suo
*.user
*.coverage
.vs
.psproj
.sln
markdownissues.txt
node_modules
package-lock.json
func.ps1
GetMGApplicationCertificateAndSecretExpiration.ps1
test1.ps1
testitem.txt
testitem.zip